{% extends "user_base.html" %} {% load static %}{% load socialaccount %} {% block content %}
<h1>หมวดหมู่คิว</h1>
<br>

<div class="container-fluid">

<div class="row">
    {% for d in dep_all %}
   
   <div class="col-sm-4 md-3" style="margin-bottom: 20px;">
     <div class="list-group">
        <div class="container-fluid">
          <div class="glitch-box">
            <br>
            <table class="table table-borderless "  style="background-color: white;">
       <center>
        <tr>
          <th>
          </th>
        </tr>
        <tr>
          <th>
          </th>
        </tr>
         <tr>
           <th>
            <div class="d-grid gap-2">
            <a href="{% url 'type_que' id=d.id %}">
              
            <h3 class="mb-1"  style="color: orangered; text-align: center;"><b>{{d.name_dep}}</b></h3></a>
          </div>
          </th>
         </tr>
         <tr>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
        </tr>
       </center>
      </table>
          
              
       </div>
      </div>
     </div>
   </div>
   {%endfor%}
</div>


</div>





{% endblock %}