{% extends "user_base.html" %} {% load static %} {% block content %}

<br />
<h1>รายละเอียดคิว : {{info.name_que}} ({{info.prefix}})</h1>
<hr />
<br />

    <center>
      <div class="col-sm-9 md-3">
          
        <table
          class="table table-light table-bordered "
          style=" font-size: 16px ;"
        >
          <thead>
            <tr>
              <th></th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>วันที่เปิด</b></td>
              <td>
                {%for d in day%}
                <b>{{d.name_day}} </b>
                {% endfor %}
              </td>
            </tr>

            <tr>
              <td><b>เปิดตั้งแต่วัน</b></td>
              <td>
                {{info.date_start}}
                <b>ถึง </b>
                {{info.date_end}}
              </td>
            </tr>
            <tr>
              <td><b>เวลา</b></td>
              <td>
                {{info.time_start}}
                <b>ถึง </b>
                {{info.time_end}}
              </td>
            </tr>

            <tr>
              <td><b>ระยะเวลารอคิว</b></td>
              <td><b>{{info.wait_time}} </b>นาที</td>
            </tr>

            <tr>
              <td><b>รูปแบบบริการ</b></td>

              <td>
                {%for q in typeque%}
                <b>{{q.name_type_que}} </b>
                {% endfor %}
              </td>
            </tr>

            <tr>
              <td><b>ผู้รับบริการ</b></td>

              <td>
                {%for u in typeuser%}
                <b>{{u.name_type_user}} </b>
                {% endfor %}
              </td>
            </tr>

            <tr>
              <td colspan="2">

              
                <div class="d-grid gap-2">
                  {%for qt in typeque%}
                  {% if qt.name_type_que == 'แบบล่วงหน้า'%}
                  <a
                    class="btn btn-lg btn-block " style="background-color: #FE9D05; color: white;border: black;border-style: solid;"
                    href="{% url 'booking' id=info.id %}"
                    ><i class="bi bi-check2-square"></i> จองคิว</a
                  >
                  {% endif %}
                  {% endfor %}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </center>


  <br />
  <br />



{% endblock %}
