{% extends "user_base.html" %} {% load static %}{% load socialaccount %} {% block content %}
<h1>{{dep.name_dep}}</h1>
<br>
<div class="row">
    {% for td in t_in_dep %}

    <div class="col-sm-4 md-3" style="margin-bottom: 20px;">
      <div class="list-group">
         <div class="container-fluid">
             <div class="glitch-box">
           <br>
               <table class="table table-borderless "  style="background-color: white;">
          <center>
           <tr>
             <th>
             </th>
           </tr>
           <tr>
             <th>
             </th>
           </tr>
            <tr>
              <th>
               <div class="d-grid gap-2">
               <a href="{% url 'info_type' id=td.id %}">
               <h3 class="mb-1"  style="color: orangered; text-align: center;"><b>{{td.name_que_dep}}</b></h3></a>
             </div>
             </th>
            </tr>
            <tr>
             <td>
             </td>
           </tr>
           <tr>
             <td>
             </td>
           </tr>
          </center>
         </table>
       </div>
 
        </div>
      </div>
    </div>
  
   {%endfor%}
</div>


{% endblock %}