{% extends "provider_base.html" %} {% load static %} {% block content %}

<br />

<div class="col-sm-12">

<a
  class="btn btn-info col-sm-2 btn-lg"
  style="color: white; position: relative; float: right; margin-left: -50%"
  href="{% url 'create_dep' %}"
>
  เพิ่ม
</a>
<h1>หน่วยงาน</h1>
<hr />
<br />

<div class="row">
 {% for d in dep_all %}

<div class="col-sm-3 md-3">
  <div class="list-group">

   
    <div id="boxque" class="list-group-item list-group-item-action" style="height: 90px;">
      <h4 class="mb-1"><b>{{d.name_dep}}</b></h4>

      <center>
        <!-- <div class="switcher">
          <input
            type="radio"
            name="balance"
            value="on_status"
            id="on_status"
            class="switcher__input switcher__input--on_status"
            checked=""
          />
          <label for="on_status" class="switcher__label" onclick="changeStatus(1)"
            ><b>เปิด</b></label
          >

          <input
            type="radio"
            name="balance"
            value="off_status"
            id="off_status"
            class="switcher__input switcher__input--off_status"
          />
          <label
            for="off_status"
            class="switcher__label"
            onclick="changeStatus(2)"
            ><b>ปิด</b></label
          >

          <span class="switcher__toggle"></span>
        </div> -->
        <br>
        <div class="d-grid gap-2">
        <a href="{% url 'type_in_dep' id=d.id %}" class="btn btn-warning my-2 my-sm-0  btn-block" style="border: black;border-style: solid;">รายละเอียด</a>
      </div>
      </center>
    </div>
  </div>
</div>
    {%endfor%}
  
</div>
</div>
<script>
  function changeStatus(s) {
    status_open = s;
  }
</script>

{% endblock %}
