{% extends "provider_base.html" %} {% load static %}{% load mathfilters %} {% block content %}

<script>

function openShow() {
        document.getElementById("popupShow").style.display = "block";
        
      }
function closeShow() {
        document.getElementById("popupShow").style.display = "none";
      }


</script>
<br/>
<button
  class="btn col-sm-2 btn-lg"  id="popup" onclick="openShow()"
  style="background-color: lightskyblue;border: black;border-style: solid; position: relative; float: right; margin-left: -50%"
>
รายละเอียดคิว
</button>

<h1>จัดลำดับคิว : {{info.name_que}} ({{info.prefix}})</h1>

<hr />
<br />

<div class="popupShow" id="popupShow">
    <center>
      <br><br><br><br><br><br><br><br><br>
      <div class="col-sm-5 md-3">
        <table class="table table-light table-bordered " style=" font-size: 16px ;">
          <thead>
            <tr>
              <th>
              <div onclick="closeShow()" style="align-items: flex-end;">
                <i class="bi bi-x-square-fill" style="color: red;"></i></div>
              </th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>วันที่เปิด</b></td>
              <td>
                {%for d in day%}
                <b>{{d.name_day}} </b>
                {% endfor %}
              </td>
            </tr>

            <tr>
              <td><b>เปิดตั้งแต่วัน</b></td>
              <td>
                {{info.date_start}}
                <b>ถึง </b>
                {{info.date_end}}
              </td>
            </tr>
            <tr>
              <td><b>เวลา</b></td>
              <td>
                {{info.time_start}}
                <b>ถึง </b>
                {{info.time_end}}
              </td>
            </tr>

            <tr>
              <td><b>ระยะเวลารอคิว</b></td>
              <td><b>{{info.wait_time}} </b>นาที</td>
            </tr>

            <tr>
              <td><b>รูปแบบบริการ</b></td>

              <td>
                {%for q in typeque%}
                <b>{{q.name_type_que}} </b>
                {% endfor %}
              </td>
            </tr>

            <tr>
              <td><b>ผู้รับบริการ</b></td>

              <td>
                {%for u in typeuser%}
                <b>{{u.name_type_user}} </b>
                {% endfor %}
              </td>
            </tr>

            <tr>
              <td><b>จัดการคิว</b></td>

              <td>
                <div class="d-grid gap-2">
                  {%for qt in typeque%}
                  {% if qt.name_type_que == 'Walk-in'%}
                  <a class="btn btn-lg btn-block " style="background-color: #D5F3FE; border: black;border-style: solid;"
                    href="{% url 'create_walkin' id=info.id %}">
                    <i class="bi bi-plus-circle-fill"></i> เพิ่มผู้เข้าคิวใหม่</a>
                  {% endif %}
                  {% endfor %}
                  <a class="btn btn-lg btn-block"
                    style="background-color: #0F5298; color: white;border: black;border-style: solid;"
                    href="{% url 'userbook' id=info.id %}">
                    <i class="bi bi-info-circle"></i> รายละเอียดผู้เข้าคิว</a>
                  <a class="btn btn-lg btn-block "
                    style="background-color: #00008B; color: white;border: black;border-style: solid;"
                    href="{% url 'close_que' info.id %}"><i class="bi bi-x-square-fill"></i> ปิดบริการ</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </center>
</div>

  <br />
  <br />

<div class="row">

  {%for qt in typeque%}
   {% if qt.name_type_que == 'แบบล่วงหน้า'%}
  <div class="col-sm md-3 ">
    <h2 style="text-align: center;">คิวที่จองล่วงหน้า</h2>
    <div class="list-group" style="padding-bottom: 10px;">

      {% for u in using_status %}
      <div id="boxque" class="list-group-item list-group-item-action" >
        <div class="row">
          <h1 style="color: blue">{{u.que_id.prefix}}{{u.id}}</h1>

          <h2 style="color: red; text-align: end; padding-right: 50px ">
            <b>เข้ารับบริการอยู่</b>
          </h2>
          <div class="col-sm">
            <h2>คุณ {{u.user_id.first_name}} {{u.user_id.last_name}}</h2>
            <h2>เบอร์ติดต่อ : {{u.phone}}</h2>
          </div>
        </div>

        <center>
          <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-success col-sm-4 btn-lg btn-block" style="border-radius: 20px;"
              href="{% url 'success' id=u.id%}">
              บริการเสร็จสิ้น
            </a>
          
          </div>
        </center>
      </div>
      {%endfor%}
      <br>



      {% for bf in booking_before %}
      <div id="boxque" class="list-group-item list-group-item-action">
        <div class="row">
          <h1 style="color: blue">{{bf.que_id.prefix}}{{bf.id}}</h1>


          <h2 style="color: black; text-align: end; padding-right: 50px ">
            <b>รอ {{ forloop.counter|mul:info.wait_time }} นาที</b>

          </h2>
        

          <div class="col-sm">
            <h2>คุณ {{bf.user_id.first_name}} {{bf.user_id.last_name}}</h2>
            <h2>เบอร์ติดต่อ : {{bf.phone}}</h2>
          </div>
        </div>

        <center>
          <div class="d-grid gap-2 d-md-block">

            {% if forloop.counter == 1 %}  
            <a class="btn col-sm-3 btn-lg btn-block" style="border-radius: 20px;background-color: #146EB4;color: white;"
              href="{% url 'using' id=bf.id%}">
              เข้ารับบริการ
            </a>
            
            <a class="btn btn-warning col-sm-3 btn-lg btn-block" style="border-radius: 20px;"
              href="{% url 'putoff' id=bf.id%}">
              เลื่อนคิว </a>
          
            <a class="btn btn-danger col-sm-3 btn-lg btn-block" style="border-radius: 20px;"
              href="{% url 'cancel' id=bf.id%}">
              ยกเลิกคิว
            </a>
            <a class="btn btn-dark col-sm-2 btn-lg btn-block" style="border-radius: 20px;"
              href="{% url 'delete' id=bf.id%}">
              ลบคิว
            </a>


            {% else %}  
            <a class="btn btn-warning col-sm-3 btn-lg btn-block" style="border-radius: 20px;"
            href="{% url 'putoff' id=bf.id%}">
            เลื่อนคิว </a>
        
          <a class="btn btn-danger col-sm-3 btn-lg btn-block" style="border-radius: 20px;"
            href="{% url 'cancel' id=bf.id%}">
            ยกเลิกคิว
          </a>
          <a class="btn btn-dark col-sm-3 btn-lg btn-block" style="border-radius: 20px;"
            href="{% url 'delete' id=bf.id%}">
            ลบคิว
          </a>

            {%endif%}
          </div>
        </center>
      </div>
      {%endfor%}



      {% for pf in que_putoff %}
      <div id="boxque" class="list-group-item list-group-item-action">
        <div class="row">
          <h1 style="color: blue">{{pf.que_id.prefix}}{{pf.id}} (เลื่อนคิว)</h1>

          
          <h2 style="color: black; text-align: end; padding-right: 50px ">
            <b>รอ {{ forloop.counter|add:sum_bf|mul:info.wait_time }} นาที</b>
          </h2>
       

          <div class="col-sm">
            <h2>คุณ {{pf.user_id.first_name}} {{pf.user_id.last_name}}</h2>
            <h2>เบอร์ติดต่อ : {{pf.phone}}</h2>
          </div>
        </div>

        <center>
          <div class="d-grid gap-2 d-md-block">

            {% if forloop.counter == 1%}
            <a class="btn col-sm-3 btn-lg btn-block" style="border-radius: 20px;background-color: #146EB4;color: white;"
              href="{% url 'using' id=pf.id%}">
              เข้ารับบริการ
            </a>
            {%endif%}

            <a class="btn btn-danger col-sm-3 btn-lg btn-block" style="border-radius: 20px;"
              href="{% url 'cancel' id=pf.id%}">
              ยกเลิกคิว
            </a>
            <a class="btn btn-dark col-sm-3 btn-lg btn-block" style="border-radius: 20px;"
              href="{% url 'delete' id=pf.id%}">
              ลบคิว
            </a>
          </div>
        </center>
      </div>
    
    {%endfor%}
    <br>



    </div>
</div>


 

{% elif qt.name_type_que == 'Walk-in'%}

  <div class="col-sm md-3 ">
    <h2 style="text-align: center;">คิว Walk-in</h2>
    <div class="list-group" style="padding-bottom: 10px;">

      {% for uw in using_walkin %}
      <div id="boxque" class="list-group-item list-group-item-action">
        <div class="row">
          <h1 style="color: blue">{{uw.que_id.prefix}}00{{uw.id}}</h1>
          <h2 style="color: red; text-align: end; padding-right: 50px ">
            <b>เข้ารับบริการอยู่</b>
          </h2>
          <div class="col-sm">
            <h2>คุณ {{uw.name}}</h2>
            <h2>เบอร์ติดต่อ : {{uw.phone}}</h2>
          </div>
        </div>
        <center>
          <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-success col-sm-4 btn-lg btn-block" style="border-radius: 20px;"
            href="{% url 'success_walkin' id=uw.id%}">
            บริการเสร็จสิ้น
          </a>
            
          </div>
        </center>
      </div>
    </div>
    {%endfor%}
      

    {% for w in booking_walkin %}
    <div id="boxque" class="list-group-item list-group-item-action">
      <div class="row">
        <h1 style="color: blue">{{w.que_id.prefix}}00{{w.id}}</h1>

        
        <h2 style="color: black; text-align: end; padding-right: 50px ">
          <b>รอ {{ forloop.counter|add:time_wait_walkin|mul:info.wait_time }} นาที</b>
        </h2>
        <div class="col-sm col-lg">
          <h2>คุณ {{w.name}}</h2>
          <h2>เบอร์ติดต่อ : {{w.phone}}</h2>
          <div class="invalid-feedback d-block">หากผู้จองคิวล่วงหน้าไม่ได้อยู่ ณ ที่ทำการสามารถให้คิวนี้รับบริการก่อนได้</div>
          <br>
        </div>
        
      </div>

      <center>
        <div class="d-grid gap-2 d-md-block">
          {% if forloop.counter == 1%}
          <a class="btn col-sm-5 btn-lg btn-block" style="border-radius: 20px; background-color: #146EB4;color: white;"
            href="{% url 'using_walkin' id=w.id%}">
            เข้ารับบริการ
          </a>
          {%endif%}

          <a class="btn btn-dark col-sm-5 btn-lg btn-block" style="border-radius: 20px;"
            href="{% url 'delete_walkin' id=w.id%}">
            ลบคิว
          </a>
        </div>
      </center>
    </div>
  </div>
  {%endfor%}

  <br>


{% endif %}
{% endfor %}
</div></div>
{% endblock %}