{% extends "provider_base.html" %} {% load static %} {% block content %}

<br />
<a
  class="btn btn-info col-sm-2 btn-lg"
  style="color: white; position: relative; float: right; margin-left: -50%"
  href="{% url 'create_type_in_dep' id=dep.id%}"
>
  เพิ่ม
</a>

<h1>{{dep.name_dep}}</h1>
<hr />
<br />

<div class="row">
  {% for td in t_in_dep %}
  <div class="col-sm-3 md-3">
    <div class="list-group">
      <div id="boxque" class="list-group-item list-group-item-action" style="height: 90px;">
        <h4 class="mb-1"><b>{{td.name_que_dep}}</b></h4>

        <center>
          <br />
          <div class="d-grid gap-2">
            <a
              href="{% url 'view_que' id=td.id %}"
              class="btn btn-warning my-2 my-sm-0 btn-block"  style="border: black;border-style: solid;"
              >ดูคิว</a
            >
          </div>
        </center>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}
