{% extends "provider_base.html" %} {% load static %} {% block content %}


<br />
<h1>คิว ( {{tdep.name_que_dep}} )</h1>
<hr />
<br />
<div class="col-sm-12">
  
  
  <a class="btn btn-info col-sm-2 btn-lg" 
  style="color:white;position: relative;float: right;margin-left: -50%;" href="{% url 'forms' tdep.id %}"> สร้างคิว
  </a>

  <br><br>
  <div class="row">
    {% for que in que_list %}
     
    <div class="col-sm-6 md-3">
      <div class="list-group">
        <a id="boxque" class="list-group-item list-group-item-action" href="{% url 'info_que' id=que.id %}">
          <div class="row">
            <div class="col-sm-7 md-3">
            
              <p id="number">{{forloop.counter}}</p>
              <h4 class="mb-1"><b>{{que.name_que}}</b></h4>
            </div>
            <div class="col-sm-5 md-3">
              <p class="mb-1">Prefix : <b>{{que.prefix}}</b></p>
              <p class="mb-1">ตั้งแต่วันที่ : <b>{{que.date_start}}</b></p>
              <p class="mb-1">สิ้นสุดวันที่ : <b>{{que.date_end}}</b></p>
              <p class="mb-1">
                เวลา : <b>{{que.time_start}}</b> ถึง <b>{{que.time_end}}</b>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <br />
   
    {%endfor%}
  </div>
</div>
{% endblock %}
