{% extends "base.html" %} {% load static %} {% block content %}


<br>
<h1>คิว</h1>
<hr/>
<br>



{% for que in que_list %}

    <div class="list-group">
<a id="boxque" class="list-group-item list-group-item-action" href="">

        <h3 class="mb-1">ชื่อคิว : <b>{{que.name_que}}</b></h3>
        <h5 class="mb-1">Prefix : <b>{{que.prefix}}</b></h5>
        <h5 class="mb-1">ตั้งแต่วันที่ : <b>{{que.date_start}}</b></h5>
        <h5 class="mb-1">สิ้นสุดวันที่ : <b>{{que.date_end}}</b></h5>
        <h5 class="mb-1">เวลา : <b>{{que.time_start}}</b></h5>
        <h5 class="mb-1">ถึง : <b>{{que.time_end}}</b></h5>

        
</a></div>



<br>
{%endfor%}

{% endblock %}