.footer {

    text-align: center;
    bottom: 0;
    color: white;
    background: #404040;
    height: 15%;
    left: 0;
    position: relative; 
    width:100%;
    flex: 0 0 50px;
    margin-top: auto;
    }


body{
    
    font-family: 'Prompt', sans-serif;
    background-color: white;
    /* background-color: #2d3436; */
    

}

.nav-item {
    padding: 30px;
}


#boxque {
    padding: 20px;
    background-color: white;
    color: orangered;
    border-radius: 15px;
    border-color: orangered;
    border-width: 5px;
    border-style: solid;
    margin-left: 10px;
    margin-bottom: 70px;


    
}


#number {
    content: counter(steps);
    margin-right: 0.5rem;
    background: orangered;
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
}


#booking {
    visibility:hidden;
    background-color: #FE9D05; 
    color: white;
    border: black;
    border-style: solid;
}