.footer {

    text-align: center;
    bottom: 0;
    color: white;
    background: #404040;
    height: 15%;
    left: 0;
    position: relative; 
    width:100%;
    flex: 0 0 50px;
    margin-top: auto;
    }


body{
    
    font-family: 'Prompt', sans-serif;
    background-color: white;
    /* background-color: #2d3436; */
    

}

.nav-item {
    padding: 30px;
}


#boxque {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 15px;
    position: relative;
    width: 330px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);      
      
    
}


#number {
    content: counter(steps);
    margin-right: 0.5rem;
    background: orangered;
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
}


#booking {
    visibility:hidden;
    background-color: #FE9D05; 
    color: white;
}

.glitch-box{
    box-shadow:-8px -8px 0 gray, 8px 8px 0 orange;
  }

  .glitch-box:hover{
    box-shadow:-8px -8px 0 black, 8px 8px 0 orangered;
  }